@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&family=Courgette&family=Satisfy&display=swap');

#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.content {
  height: 100%;
  background: rgb(17, 16, 16);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(243, 240, 236);
  width: 45%;
  height: auto;
  padding: 2rem;
  border-radius: 25px;
}

.quote-text {
  font-family: 'Courgette', cursive;
}

.author {
  font-family: 'Cormorant', serif;
  font-weight: bolder;
  font-size: 18px;
}

.lower {
  padding-top: 1.5rem;
}

.button {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  background-color: #3ca553;
  border: none;
}

.button span {
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.button:hover {
  animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}